 .u-section-1 {
  min-height: 613px;
}

.u-section-1 .u-slider-1 {
  min-height: 606px;
  margin-top: 0;
  margin-bottom: 8px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/RoyaumeChampi.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  margin: 67px auto 0;
}

.u-section-1 .u-image-2 {
  width: 73px;
  height: 73px;
  margin: -56px auto 0 264px;
}

.u-section-1 .u-image-3 {
  width: 73px;
  height: 73px;
  margin: -70px 254px 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 294px auto 0 92px;
}

.u-section-1 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/fond3.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1 .u-text-3 {
  margin: 306px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 28px auto 0;
}

.u-section-1 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/ChampiTournoi11.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-1 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: -58px;
  position: absolute;
  right: auto;
  padding: 10px;
}

.u-section-1 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: auto;
  position: absolute;
  right: -58px;
  padding: 10px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 50vw;
  }

  .u-section-1 .u-slider-1 {
    height: auto;
    margin-bottom: 12px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -50px;
    margin-left: 144px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -73px;
    margin-right: 161px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 367px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-slider-1 {
    min-height: 440px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: -56px;
    margin-left: 74px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 74px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 443px;
    margin-left: 46px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-slider-1 {
    min-height: 410px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 6px 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 24px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 20px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -80px;
    margin-right: 7px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 527px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -40px;
    margin-left: 3px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -73px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 580px;
    margin-right: 14px;
    margin-left: auto;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1280px;
}

.u-section-2 .u-image-1 {
  width: 717px;
  height: 1807px;
  margin: 32px 16px 0 auto;
}

.u-section-2 .u-image-2 {
  width: 993px;
  height: 535px;
  margin: -1807px auto 0 73px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 701px;
  margin: 50px 16px 0 auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 271px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  width: 138px;
  height: 138px;
  margin: 0 73px;
}

.u-section-2 .u-text-1 {
  margin: 30px 0 0 23px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 247px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  width: 245px;
  height: 115px;
  margin: 19px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 30px auto 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 235px;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 23px;
}

.u-section-2 .u-image-5 {
  width: 125px;
  height: 101px;
  margin: 0 auto 0 78px;
}

.u-section-2 .u-text-3 {
  margin: 30px -5px 0 -2px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 245px;
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 16px 30px;
}

.u-section-2 .u-image-6 {
  width: 188px;
  height: 141px;
  margin: 0 64px 0 39px;
}

.u-section-2 .u-text-4 {
  margin: 3px 42px 0 auto;
}

.u-section-2 .u-image-7 {
  width: 460px;
  height: 460px;
  margin: -517px auto 60px -53px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1898px;
  }

  .u-section-2 .u-image-1 {
    height: 1781px;
    margin-top: 52px;
    margin-right: 98px;
  }

  .u-section-2 .u-image-2 {
    height: 506px;
    width: 940px;
    margin-top: -1596px;
    margin-right: -14px;
    margin-left: auto;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 98px;
    margin-right: 106px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 22px;
  }

  .u-section-2 .u-image-5 {
    height: 102px;
  }

  .u-section-2 .u-image-7 {
    margin-top: 40px;
    margin-left: auto;
    margin-bottom: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1423px;
  }

  .u-section-2 .u-image-1 {
    margin-right: 210px;
  }

  .u-section-2 .u-image-2 {
    height: 388px;
    width: 720px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: 19px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2076px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 1591px;
    margin-top: 1px;
    margin-right: -50px;
  }

  .u-section-2 .u-image-2 {
    height: 291px;
    margin-top: -1456px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 440px;
    margin-top: 93px;
    margin-right: -20px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 272px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 256px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 237px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 218px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-7 {
    margin-top: 101px;
    margin-right: 0;
    margin-bottom: 12px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1825px;
  }

  .u-section-2 .u-image-1 {
    height: 1002px;
    margin-top: 11px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-2 {
    margin-top: -983px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 108px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-text-3 {
    margin-right: -2px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-image-7 {
    height: 340px;
    margin-top: 90px;
    margin-bottom: 11px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-3 {
  min-height: 650px;
}

.u-section-3 .u-sheet-1 {
  min-height: 650px;
}

.u-section-3 .u-list-1 {
  width: 1157px;
  margin: 33px auto 60px;
}

.u-section-3 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 482px;
}

.u-section-3 .u-image-1 {
  background-image: url("images/Toad.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  margin: 36px auto 0 16px;
}

.u-section-3 .u-image-2 {
  background-image: url("images/Peach2.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 36px auto 0 16px;
}

.u-section-3 .u-image-3 {
  background-image: url("images/Mario.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  margin: 36px auto 0 16px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
  min-height: 837px;
}

.u-section-4 .u-image-1 {
  height: 321px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-image-2 {
  width: 1044px;
  height: 336px;
  object-position: 50% 50%;
  margin: 44px calc(((100% - 1140px) / 2) + 30px) 0 auto;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -100px auto 0 calc(((100% - 1140px) / 2) + 77px);
}

.u-section-4 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -45px auto 0 calc(((100% - 1140px) / 2) + 347px);
}

.u-section-4 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -23px calc(((100% - 1140px) / 2) + 351px) 0 auto;
}

.u-section-4 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -45px calc(((100% - 1140px) / 2) + 81px) 60px auto;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 804px;
  }

  .u-section-4 .u-image-2 {
    width: 940px;
    height: 303px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-btn-1 {
    margin-top: -97px;
    margin-left: calc(((100% - 940px) / 2) + 13px);
  }

  .u-section-4 .u-btn-2 {
    margin-left: calc(((100% - 940px) / 2) + 257px);
  }

  .u-section-4 .u-btn-3 {
    margin-right: calc(((100% - 940px) / 2) + 278px);
  }

  .u-section-4 .u-btn-4 {
    margin-right: calc(((100% - 940px) / 2) + 34px);
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 733px;
  }

  .u-section-4 .u-image-2 {
    width: 720px;
    height: 232px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-btn-1 {
    margin-top: -71px;
    margin-left: calc(((100% - 720px) / 2) + 17px);
    padding: 4px 6px 6px 5px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: -29px;
    margin-left: calc(((100% - 720px) / 2) + 191px);
  }

  .u-section-4 .u-btn-3 {
    margin-top: -26px;
    margin-right: calc(((100% - 720px) / 2) + 27px);
    padding: 5px 8px 6px;
  }

  .u-section-4 .u-btn-4 {
    margin-top: -35px;
    margin-right: calc(((100% - 720px) / 2) + 216px);
    padding: 5px 8px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 675px;
  }

  .u-section-4 .u-image-2 {
    width: 540px;
    height: 174px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-btn-1 {
    margin-top: -13px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-btn-2 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-btn-3 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-btn-4 {
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 527px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 1px;
  }

  .u-section-4 .u-image-2 {
    height: 161px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-btn-1 {
    font-size: 0.75rem;
    align-self: center;
    margin-top: -47px;
    margin-left: calc(((100% - 340px) / 2) + 64px);
    padding: 0;
  }

  .u-section-4 .u-btn-2 {
    font-size: 0.75rem;
    align-self: center;
    margin-top: -19px;
    margin-right: calc(((100% - 340px) / 2) + -43px);
    margin-left: auto;
    padding: 0 1px 0 0;
  }

  .u-section-4 .u-btn-3 {
    font-size: 0.75rem;
    align-self: center;
    margin-top: -19px;
    margin-right: calc(((100% - 340px) / 2) + 73px);
    padding: 0;
  }

  .u-section-4 .u-btn-4 {
    font-size: 0.75rem;
    margin: -19px auto 30px calc(((100% - 340px) / 2) + -43px);
    padding: 0;
  }
} .u-section-5 {
  min-height: 1523px;
}

.u-section-5 .u-image-1 {
  width: 603px;
  height: 859px;
  margin: -3px 0 0 auto;
}

.u-section-5 .u-image-2 {
  width: 905px;
  height: 596px;
  margin: -619px auto 0 calc(((100% - 1140px) / 2) + 30px);
}

.u-section-5 .u-text-1 {
  margin: -812px auto 0 calc(((100% - 1140px) / 2) + 115px);
}

.u-section-5 .u-text-2 {
  margin: 19px calc(((100% - 1140px) / 2) + 633px) 0 calc(((100% - 1140px) / 2) + 71px);
}

.u-section-5 .u-custom-html-1 {
  min-height: 507px;
  width: 1069px;
  margin: 687px calc(((100% - 1140px) / 2) + 36px) 0;
}

.u-section-5 .u-image-3 {
  width: 570px;
  height: 589px;
  margin: -548px calc(((100% - 1140px) / 2) + 115px) 0 auto;
}

.u-section-5 .u-custom-html-2 {
  margin: 30px calc(((100% - 1140px) / 2) + 115px) 60px calc(((100% - 1140px) / 2));
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 1671px;
  }

  .u-section-5 .u-image-1 {
    height: 858px;
  }

  .u-section-5 .u-image-2 {
    height: 597px;
    margin-right: calc(((100% - 1140px) / 2) + 105px);
    margin-left: auto;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: -824px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 11px;
    margin-right: calc(((100% - 940px) / 2) + 543px);
    margin-left: calc(((100% - 940px) / 2) + -38px);
  }

  .u-section-5 .u-custom-html-1 {
    height: auto;
    width: 940px;
    margin-top: 853px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
    margin-right: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-5 .u-image-3 {
    margin-top: -565px;
    margin-right: calc(((100% - 940px) / 2) + 11px);
  }

  .u-section-5 .u-custom-html-2 {
    margin-top: 47px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
    margin-right: calc(((100% - 1140px) / 2) + 100px);
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 1658px;
  }

  .u-section-5 .u-image-1 {
    width: 335px;
    height: 778px;
    margin-top: 0;
  }

  .u-section-5 .u-image-2 {
    width: 720px;
    height: 475px;
    margin-top: -539px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-5 .u-text-1 {
    margin-top: -678px;
    margin-left: calc(((100% - 720px) / 2) + 35px);
  }

  .u-section-5 .u-text-2 {
    margin-top: 32px;
    margin-right: calc(((100% - 1140px) / 2) + 495px);
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-5 .u-custom-html-1 {
    width: 720px;
    margin-top: 563px;
    margin-left: calc(((100% - 720px) / 2) + 20px);
    margin-right: initial;
  }

  .u-section-5 .u-image-3 {
    width: 360px;
    height: 531px;
    margin-top: -531px;
    margin-right: calc(((100% - 720px) / 2) + -27px);
  }

  .u-section-5 .u-custom-html-2 {
    margin: 361px calc(((100% - 1140px) / 2) + 210px) 0;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 1750px;
  }

  .u-section-5 .u-image-1 {
    width: 590px;
    height: 832px;
    margin-top: 237px;
    margin-left: 50px;
  }

  .u-section-5 .u-image-2 {
    width: 540px;
    height: 356px;
    margin-top: -670px;
    margin-left: auto;
  }

  .u-section-5 .u-text-1 {
    margin-top: -722px;
    margin-right: 115px;
    margin-left: calc(((100% - 540px) / 2) + 115px);
  }

  .u-section-5 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2) + 28px);
    margin-left: calc(((100% - 540px) / 2) + 78px);
  }

  .u-section-5 .u-custom-html-1 {
    width: 540px;
    margin-top: 877px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-image-3 {
    width: 214px;
    height: 214px;
    margin-top: -361px;
    margin-right: calc(((100% - 540px) / 2) + -34px);
  }

  .u-section-5 .u-custom-html-2 {
    margin: 278px calc(((100% - 1140px) / 2) + 300px) 11px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 1797px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 391px;
    margin-top: 308px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-image-2 {
    width: 340px;
    height: 224px;
    margin-top: -307px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -533px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2) + 29px);
  }

  .u-section-5 .u-text-2 {
    width: 340px;
    margin-top: 31px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-custom-html-1 {
    width: 340px;
    margin-top: 532px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-5 .u-image-3 {
    width: 360px;
    height: 531px;
    margin-top: -12px;
    margin-right: auto;
  }

  .u-section-5 .u-custom-html-2 {
    margin: -71px calc(((100% - 1140px) / 2) + 400px) 1px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 906px;
}

.u-section-6 .u-custom-html-1 {
  margin: 25px auto 0;
}

.u-section-6 .u-list-1 {
  grid-template-rows: auto;
  margin: 20px auto 60px 0;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-gap: 10px 10px;
  min-height: 396px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  height: 213px;
  width: 213px;
  background-image: url("images/Toad3423.gif");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-6 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  height: 213px;
  width: 213px;
  background-image: url("images/Eight0001.webp");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-6 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-image-3 {
  height: 213px;
  width: 213px;
  background-image: url("images/trancheur2936.webp");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-6 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-image-4 {
  height: 213px;
  width: 213px;
  background-image: url("images/Neotix4610.webp");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-6 .u-text-8 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 441px;
  }

  .u-section-6 .u-list-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    height: 165px;
    width: 165px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-image-2 {
    height: 165px;
    width: 165px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-image-3 {
    height: 165px;
    width: 165px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-image-4 {
    height: 165px;
    width: 165px;
  }

  .u-section-6 .u-text-8 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-6 .u-text-2 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-6 .u-text-8 {
    margin-left: 12px;
    margin-right: 12px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-8 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-8 {
    margin-left: 6px;
    margin-right: 6px;
  }
}