 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.25), rgba(255,255,255,0.25)), url("images/20240812_001040_0000.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1051px;
}

.u-section-1 .u-group-1 {
  height: auto;
  margin-top: 161px;
  margin-bottom: 0;
  min-height: 890px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 0;
}

.u-section-1 .u-image-1 {
  --radius: 10px;
  width: 1065px;
  height: 449px;
  margin: 0 32px 0 auto;
}

.u-section-1 .u-text-1 {
  margin: 30px 30px 0 42px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-audio-1 {
  width: 209px;
  height: 85px;
  font-size: 0.625rem;
  background-image: none;
  margin: -121px 30px 0 auto;
}

.u-section-1 .u-list-1 {
  width: 1056px;
  margin: 59px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 222px;
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  background-image: none;
  margin: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 400;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 867px;
  }

  .u-section-1 .u-group-1 {
    --radius: 60px;
    height: auto;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 396px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 198px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 664px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 303px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 498px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 227px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 314px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 143px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.25), rgba(255,255,255,0.25)), url("images/20240812_001040_0000.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 1105px;
}

.u-section-2 .u-group-1 {
  height: auto;
  margin-top: -8px;
  margin-bottom: 60px;
  min-height: 1026px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-1 {
  font-weight: 300;
  margin: 0 802px 0 36px;
}

.u-section-2 .u-custom-html-1 {
  height: auto;
  min-height: 507px;
  margin: -43px 87px 0 751px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 911px;
  }

  .u-section-2 .u-group-1 {
    --radius: 60px;
    height: auto;
  }

  .u-section-2 .u-text-1 {
    margin-right: 638px;
    margin-left: 0;
  }

  .u-section-2 .u-custom-html-1 {
    margin-right: 0;
    margin-left: 638px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 698px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 418px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-left: 418px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 238px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-left: 238px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 38px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-left: 38px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 400px;
} Se connecter avec Discord 