.u-block-e193-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-e193-3 {
  position: absolute;
  left: 0;
}

.u-block-e193-4 {
  position: absolute;
  right: 0;
}

 .u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/Royaume_Champignon_Odyssey.png");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 1049px;
}

.u-section-1-1 .u-text-1 {
  margin: 60px 225px 0 auto;
}

.u-section-1-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1-1 .u-text-2 {
  margin: 46px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 865px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 663px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 497px;
  }

  .u-section-1-1 .u-text-1 {
    margin-right: 169px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 313px;
  }

  .u-section-1-1 .u-text-1 {
    margin-right: 106px;
  }
}

 .u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/Picsart_22-06-07_16-06-14-995.jpg");
  background-position: 5.75% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 1049px;
}

.u-section-1-2 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-1-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 865px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 663px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 497px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 313px;
  }
}

 .u-section-1-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/Picsart_22-06-05_21-06-42-031.jpg");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 1049px;
}

@media (max-width: 1199px) {
   .u-section-1-3 {
    background-position: 5.36% 50%;
  }

  .u-section-1-3 .u-sheet-1 {
    min-height: 587px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 450px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 338px;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 213px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1153px;
}

.u-section-2 .u-image-1 {
  width: 732px;
  min-height: 1011px;
  background-image: url("images/v.png");
  background-position: 50% 50%;
  margin: 46px 0 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  width: 1106px;
  height: 691px;
  margin: 40px auto 0 -376px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  width: 524px;
  margin: -160px 10px -30px auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 15.5px));
  min-height: 399px;
  grid-gap: 31px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 14px 30px;
}

.u-section-2 .u-icon-1 {
  height: 86px;
  width: 115px;
  margin: 10px auto 0 32px;
  padding: 0;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 36px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 14px 30px;
}

.u-section-2 .u-icon-2 {
  height: 115px;
  width: 115px;
  margin: 10px auto 0 32px;
  padding: 0;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 36px 0 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 14px 30px;
}

.u-section-2 .u-icon-3 {
  height: 93px;
  width: 115px;
  margin: 10px auto 0 32px;
  padding: 0;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 36px 0 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 14px 30px;
}

.u-section-2 .u-icon-4 {
  height: 86px;
  width: 115px;
  margin: 10px auto 0 32px;
  padding: 0;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 36px 0 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-image-3 {
  width: 364px;
  height: 381px;
  margin: -358px auto 60px 50px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-2 {
    width: 999px;
    height: 701px;
    margin-top: 17px;
    margin-left: -219px;
  }

  .u-section-2 .u-list-1 {
    margin-top: -147px;
    margin-bottom: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 16.5px));
    grid-gap: 33px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-2 .u-icon-1 {
    height: 65px;
    width: 86px;
    margin-top: 89px;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    width: 185px;
    margin-top: -126px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 0;
  }

  .u-section-2 .u-icon-2 {
    height: 65px;
    width: 86px;
    margin-top: 89px;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    width: 185px;
    margin-top: -126px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding: 0;
  }

  .u-section-2 .u-icon-3 {
    height: 65px;
    width: 86px;
    margin-top: 89px;
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    width: 185px;
    margin-top: -126px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-5 {
    padding: 0;
  }

  .u-section-2 .u-icon-4 {
    height: 65px;
    width: 86px;
    margin-top: 89px;
    margin-left: auto;
  }

  .u-section-2 .u-text-4 {
    width: 185px;
    margin-top: -126px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1163px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 45px;
  }

  .u-section-2 .u-image-2 {
    width: 720px;
    height: 505px;
    margin-left: 0;
  }

  .u-section-2 .u-list-1 {
    margin-top: 49px;
  }

  .u-section-2 .u-image-3 {
    width: 204px;
    height: 204px;
    margin-top: -102px;
    margin-bottom: 0;
    margin-left: -17px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    width: 540px;
    margin-top: 50px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-2 {
    width: 540px;
    height: 379px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -109px;
    margin-left: auto;
    margin-bottom: 7px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    width: 340px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 239px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    min-height: 844px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 61px;
    margin-left: 97px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 61px;
    margin-left: 97px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 61px;
    margin-left: 97px;
  }

  .u-section-2 .u-icon-4 {
    margin-top: 61px;
    margin-left: 97px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1131px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  margin: 60px auto 0;
}

.u-section-3 .u-shape-1 {
  width: 150px;
  height: 47px;
  margin: 40px auto 0;
}

.u-section-3 .u-image-1 {
  width: 500px;
  height: 500px;
  background-image: url("images/images.jpg");
  background-position: 50% 50%;
  margin: 270px 304px 0 auto;
}

.u-section-3 .u-list-1 {
  width: 882px;
  margin: -708px auto 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 14.6667px));
  min-height: 242px;
  grid-gap: 22px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-1 {
  padding: 0 27px;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  margin: 30px auto 0 7px;
}

.u-section-3 .u-text-3 {
  background-image: none;
  margin: 10px 1px 0 0;
}

.u-section-3 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-2 {
  padding: 0 27px;
}

.u-section-3 .u-text-4 {
  font-weight: 400;
  margin: 30px auto 0 7px;
}

.u-section-3 .u-text-5 {
  background-image: none;
  margin: 10px 1px 0 0;
}

.u-section-3 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-3 {
  padding: 0 27px;
}

.u-section-3 .u-text-6 {
  font-weight: 400;
  margin: 30px auto 0 7px;
}

.u-section-3 .u-text-7 {
  background-image: none;
  margin: 10px 1px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    margin-top: 240px;
    margin-right: auto;
  }

  .u-section-3 .u-list-1 {
    margin-top: -678px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 308px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 11px));
    min-height: 453px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 971px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
    margin-top: -518px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 601px;
  }
} .u-section-4 {
  background-image: none;
  min-height: 888px;
}

.u-section-4 .u-image-1 {
  height: 553px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  width: 1140px;
  margin: -101px auto 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 22.5px));
  min-height: 275px;
  grid-gap: 30px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-group-1 {
  width: 90px;
  min-height: 90px;
  margin: 0 113px 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 20px 0 0;
}

.u-section-4 .u-text-3 {
  font-style: italic;
  margin: 19px 1px 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 21px auto 0 0;
  padding: 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-group-2 {
  width: 90px;
  min-height: 90px;
  background-size: auto;
  margin: 0 113px 0 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 0;
}

.u-section-4 .u-text-4 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-4 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 20px 0 0;
}

.u-section-4 .u-text-6 {
  font-style: italic;
  margin: 19px 1px 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 21px auto 0 0;
  padding: 0;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-group-3 {
  width: 90px;
  min-height: 90px;
  background-size: auto;
  margin: 0 113px 0 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 0;
}

.u-section-4 .u-text-7 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-4 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 20px 0 0;
}

.u-section-4 .u-text-9 {
  font-style: italic;
  margin: 19px 1px 0;
}

.u-section-4 .u-btn-3 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none none solid;
  margin: 21px auto 0 0;
  padding: 0;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-group-3 {
  width: 90px;
  min-height: 90px;
  background-size: auto;
  margin: 0 113px 0 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 0;
}

.u-section-4 .u-text-7 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-4 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 20px 0 0;
}

.u-section-4 .u-text-12 {
  font-style: italic;
  margin: 19px 1px 0;
}

.u-section-4 .u-btn-3 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none none solid;
  margin: 21px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 797px;
  }

  .u-section-4 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-list-1 {
    width: 940px;
    height: auto;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 1208px;
  }

  .u-section-4 .u-list-1 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1857px;
  }

  .u-section-4 .u-image-1 {
    height: 448px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-5 {
  background-image: none;
  min-height: 1232px;
}

.u-section-5 .u-shape-1 {
  height: 453px;
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-shape-2 {
  width: 603px;
  height: 597px;
  background-image: none;
  margin: -239px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-5 .u-shape-3 {
  width: 716px;
  height: 742px;
  background-image: none;
  margin: -806px calc(((100% - 1140px) / 2) + -13px) 0 auto;
}

.u-section-5 .u-image-1 {
  width: 1112px;
  height: 1116px;
  object-position: 50% 50%;
  box-shadow: 0 0 25px 0 rgba(0,0,0,0.3);
  margin: -466px calc(((100% - 1140px) / 2) + -13px) 0 auto;
}

.u-section-5 .u-group-1 {
  min-height: 439px;
  width: 614px;
  margin: -1442px calc(((100% - 1140px) / 2) + 51px) 60px auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-5 .u-text-1 {
  line-height: 1.2;
  font-family: Montserrat, sans-serif;
  margin: 26px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 12px 0 0 5px;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 30px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  border-style: none;
  margin: -57px auto 0 0;
  padding: 16px 48px 16px 47px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 1059px;
  }

  .u-section-5 .u-shape-2 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-shape-3 {
    margin-right: calc(((100% - 940px) / 2) + -13px);
  }

  .u-section-5 .u-image-1 {
    width: 940px;
    height: 943px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-group-1 {
    margin-top: -1269px;
    margin-right: calc(((100% - 940px) / 2) + 51px);
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 838px;
  }

  .u-section-5 .u-shape-2 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-shape-3 {
    margin-right: calc(((100% - 720px) / 2) + -13px);
  }

  .u-section-5 .u-image-1 {
    width: 720px;
    height: 722px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-group-1 {
    margin-top: -1048px;
    margin-right: calc(((100% - 720px) / 2) + 51px);
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 887px;
  }

  .u-section-5 .u-shape-2 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-shape-3 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 542px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-group-1 {
    width: 540px;
    margin-top: -868px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 723px;
  }

  .u-section-5 .u-shape-2 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-shape-3 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 341px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-group-1 {
    width: 340px;
    margin-top: -667px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 53px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 21px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -6px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 741px;
}

.u-section-6 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 510px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-2 {
  margin: 0 1px 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 509px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-3 {
  margin-top: 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 510px;
}

.u-section-6 .u-container-layout-3 {
  padding: 0;
}

.u-section-6 .u-custom-html-1 {
  min-height: 507px;
  margin: 54px -834px -51px 74px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 456px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 421px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 420px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 421px;
  }

  .u-section-6 .u-custom-html-1 {
    height: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 349px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 322px;
  }

  .u-section-6 .u-custom-html-1 {
    margin-right: -43px;
    margin-bottom: -75px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1002px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 107px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 725px;
  }

  .u-section-6 .u-custom-html-1 {
    margin-right: -183px;
    margin-left: 140px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 165px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 456px;
  }

  .u-section-6 .u-custom-html-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 496px;
}

.u-section-7 .u-custom-html-1 {
  margin: 20px auto 0;
}

.u-section-7 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-7 .u-list-1 {
  grid-template-rows: auto;
  margin: 7px auto 60px 0;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-gap: 10px 10px;
  min-height: 396px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-image-1 {
  width: 199px;
  height: 199px;
  background-image: url("images/aff55bf9ca4313a05f9450a76b66cffa.webp");
  background-position: 50% 50%;
  margin: 64px 17px 0 1px;
}

.u-section-7 .u-text-2 {
  margin: 64px 0 0;
}

.u-section-7 .u-text-3 {
  margin: 30px 1px 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-image-2 {
  width: 199px;
  height: 199px;
  background-image: url("images/6e966893fbcd2ed97c56637687c3c0b4.webp");
  background-position: 50% 50%;
  margin: 64px 17px 0 1px;
}

.u-section-7 .u-text-4 {
  margin: 64px 0 0;
}

.u-section-7 .u-text-5 {
  margin: 30px 1px 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-image-3 {
  width: 199px;
  height: 199px;
  background-image: url("images/7c19258f5d16abe630c6e8f20195a8f9.webp");
  background-position: 50% 50%;
  margin: 64px 17px 0 1px;
}

.u-section-7 .u-text-6 {
  margin: 64px 0 0;
}

.u-section-7 .u-text-7 {
  margin: 30px 1px 0;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px;
}

.u-section-7 .u-image-4 {
  width: 199px;
  height: 199px;
  background-image: url("images/a_1041160ecedd76fed6129b67776e4bd1.gif");
  background-position: 50% 50%;
  margin: 64px 17px 0 1px;
}

.u-section-7 .u-text-8 {
  margin: 64px 0 0;
}

.u-section-7 .u-text-9 {
  margin: 30px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-text-9 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-7 .u-text-3 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-7 .u-text-9 {
    margin-left: 12px;
    margin-right: 12px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-9 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-text-9 {
    margin-left: 6px;
    margin-right: 6px;
  }
}