 .u-section-1 {
  background-image: none;
  min-height: 575px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5rem;
  width: 589px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px 192px 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  width: 1140px;
  margin: 56px auto 6px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 22.5px));
  min-height: 365px;
  grid-gap: 30px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 86px;
  width: 106px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 11px 0 0;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  margin: 18px 0 0;
}

.u-section-1 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 106px;
  width: 106px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2;
  margin: 11px 0 0;
}

.u-section-1 .u-text-6 {
  font-style: italic;
  margin: 18px 0 0;
}

.u-section-1 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 106px;
  width: 106px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2;
  margin: 11px 0 0;
}

.u-section-1 .u-text-8 {
  font-style: italic;
  margin: 18px 0 0;
}

.u-section-1 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-icon-4 {
  height: 109px;
  width: 106px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-text-9 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2;
  margin: 11px 0 0;
}

.u-section-1 .u-text-10 {
  font-style: italic;
  margin: 18px 0 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 585px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 92px;
    margin-right: 92px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 295px;
  }

  .u-section-1 .u-icon-4 {
    height: 110px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1025px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 87px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 655px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1600px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 577px;
}

.u-section-2 .u-shape-1 {
  width: 855px;
  height: 575px;
  background-image: none;
  margin: 1px auto 0 0;
}

.u-section-2 .u-group-1 {
  width: 711px;
  min-height: 475px;
  background-image: none;
  height: auto;
  margin: -542px auto 0 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 50px 30px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 33px 0 0;
}

.u-section-2 .u-image-1 {
  width: 438px;
  height: 458px;
  transform: scaleX(-1);
  transform-origin: center center 0px;
  margin: -458px 0 68px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-shape-1 {
    width: 795px;
    height: 557px;
  }

  .u-section-2 .u-group-1 {
    width: 434px;
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 15px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 625px;
  }

  .u-section-2 .u-shape-1 {
    height: 624px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-1 {
    width: 560px;
  }

  .u-section-2 .u-image-1 {
    width: 295px;
    margin-top: -371px;
    margin-right: -50px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 626px;
  }

  .u-section-2 .u-group-1 {
    width: 489px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-2 .u-image-1 {
    height: 459px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 928px;
  }

  .u-section-2 .u-group-1 {
    width: 304px;
    min-height: 773px;
    margin-left: auto;
    margin-bottom: 60px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-3 {
  min-height: 710px;
}

.u-section-3 .u-group-1 {
  width: calc(((100% - 1140px) / 2) + 605px);
  background-image: none;
  min-height: 802px;
  height: auto;
  margin: 1px auto 0 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 613px;
  height: 988px;
  margin: 0 auto -187px;
}

.u-section-3 .u-group-2 {
  width: 711px;
  min-height: 475px;
  background-image: none;
  height: auto;
  margin: -628px calc(((100% - 1140px) / 2)) 60px auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 50px 30px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 33px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    width: 795px;
    height: auto;
  }

  .u-section-3 .u-image-1 {
    width: 605px;
    height: 976px;
  }

  .u-section-3 .u-group-2 {
    width: 434px;
    margin-right: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 30px;
    padding-left: 15px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    margin-top: -47px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-1 {
    width: 613px;
    height: 989px;
    margin-right: 15px;
  }

  .u-section-3 .u-group-2 {
    width: 560px;
    margin-top: -827px;
    margin-right: auto;
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    width: 540px;
    height: 871px;
    margin-right: auto;
  }

  .u-section-3 .u-group-2 {
    width: 489px;
    margin-right: calc(((100% - 1140px) / 2) + 300px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    width: 340px;
    height: 548px;
  }

  .u-section-3 .u-group-2 {
    width: 304px;
    min-height: 703px;
    margin: -755px auto 7px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 478px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: -6px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 358px;
  background-image: none;
  --animation-custom_in-translate_x: -100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.32;
}

.u-section-4 .u-container-layout-1 {
  padding: 29px;
}

.u-section-4 .u-image-1 {
  width: 260px;
  height: 260px;
  background-image: url("images/logoRC.gif?rand=fad8");
  background-position: 50% 50%;
  margin: 11px 0 0 auto;
}

.u-section-4 .u-icon-1 {
  width: 116px;
  height: 116px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: -261px auto 0 0;
  padding: 15px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 358px;
  background-image: none;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 28px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.6;
  margin: 28px 2px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 34px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 381px;
  }

  .u-section-4 .u-image-1 {
    height: auto;
    margin-top: 31px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-icon-1 {
    width: 92px;
    height: 92px;
    margin-top: -263px;
    padding: 18px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 295px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 322px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 70px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 388px;
  }

  .u-section-4 .u-image-1 {
    height: 278px;
    width: 278px;
    margin-right: auto;
    margin-left: 20px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: -288px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 261px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 40px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 407px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 30px 20px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 193px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 70px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 397px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 0;
    margin-right: auto;
    margin-left: 0;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5rem;
  width: 589px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 6px auto 0;
}

.u-section-5 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px 142px 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto;
  margin: 56px auto 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 22.5px));
  min-height: 365px;
  grid-gap: 30px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-icon-1 {
  height: 106px;
  width: 106px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
  padding: 0;
}

.u-section-5 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 11px 0 0;
}

.u-section-5 .u-text-4 {
  font-style: italic;
  margin: 18px 0 0;
}

.u-section-5 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-icon-2 {
  height: 171px;
  width: 106px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
  padding: 0;
}

.u-section-5 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2;
  margin: 11px 0 0;
}

.u-section-5 .u-text-6 {
  font-style: italic;
  margin: 18px 0 0;
}

.u-section-5 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-icon-3 {
  height: 106px;
  width: 106px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
  padding: 0;
}

.u-section-5 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2;
  margin: 11px 0 0;
}

.u-section-5 .u-text-8 {
  font-style: italic;
  margin: 18px 0 0;
}

.u-section-5 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-icon-4 {
  height: 109px;
  width: 106px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
  padding: 0;
}

.u-section-5 .u-text-9 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2;
  margin: 11px 0 0;
}

.u-section-5 .u-text-10 {
  font-style: italic;
  margin: 18px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    margin-left: 42px;
    margin-right: 42px;
  }

  .u-section-5 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 295px;
  }

  .u-section-5 .u-icon-4 {
    height: 110px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 655px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
} .u-section-6 {
  min-height: 710px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-6 .u-image-1 {
  min-height: 668px;
  background-image: url("images/Capturedcran2023-04-02215713.png");
  background-position: 0% 50%;
  --animation-custom_in-translate_x: -100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  min-height: 668px;
  background-image: url("images/Capturedcran2023-04-02220037.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.22;
}

.u-section-6 .u-container-layout-2 {
  padding: 0;
}

.u-section-6 .u-group-1 {
  min-height: 275px;
  width: 383px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  height: auto;
  margin: 0 auto 0 -234px;
}

.u-section-6 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  margin: 28px 0 0;
}

.u-section-6 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 593px;
  }

  .u-section-6 .u-image-1 {
    min-height: 551px;
  }

  .u-section-6 .u-image-2 {
    min-height: 551px;
  }

  .u-section-6 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 464px;
  }

  .u-section-6 .u-image-1 {
    min-height: 422px;
  }

  .u-section-6 .u-image-2 {
    min-height: 422px;
  }

  .u-section-6 .u-group-1 {
    width: 338px;
    margin-left: -239px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 1308px;
  }

  .u-section-6 .u-image-1 {
    min-height: 633px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    min-height: 633px;
  }

  .u-section-6 .u-group-1 {
    margin-top: -203px;
    margin-left: auto;
  }

  .u-section-6 .u-text-1 {
    margin-top: 0;
  }

  .u-section-6 .u-text-2 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 840px;
  }

  .u-section-6 .u-image-1 {
    min-height: 399px;
  }

  .u-section-6 .u-image-2 {
    min-height: 399px;
  }

  .u-section-6 .u-group-1 {
    width: 288px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 510px;
}

.u-section-7 .u-shape-1 {
  width: 855px;
  height: 498px;
  background-image: none;
  margin: 1px auto 0 0;
}

.u-section-7 .u-group-1 {
  width: 711px;
  min-height: 425px;
  background-image: none;
  height: auto;
  margin: -465px auto 0 0;
}

.u-section-7 .u-container-layout-1 {
  padding: 0 50px 30px;
}

.u-section-7 .u-text-1 {
  font-size: 2.25rem;
  margin: 20px 0 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  margin: 33px 0 0;
}

.u-section-7 .u-image-1 {
  width: 458px;
  height: 458px;
  transform: scaleX(-1);
  transform-origin: center center 0px;
  margin: -408px 0 1px auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-shape-1 {
    width: 795px;
    height: 557px;
  }

  .u-section-7 .u-group-1 {
    width: 434px;
    height: auto;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 15px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 667px;
  }

  .u-section-7 .u-shape-1 {
    height: 624px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-group-1 {
    width: 560px;
  }

  .u-section-7 .u-image-1 {
    margin-top: -711px;
    margin-right: -80px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-group-1 {
    width: 489px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 887px;
  }

  .u-section-7 .u-group-1 {
    width: 304px;
    min-height: 667px;
    margin-top: -432px;
    margin-left: auto;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-7 .u-image-1 {
    height: 340px;
    margin-top: -954px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}