 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-group-1 {
  width: 1073px;
  height: auto;
  background-image: none;
  --radius: 20px;
  min-height: 458px;
  margin: -71px auto 13px 25px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  height: 386px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 0%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 940px;
    margin-left: 0;
    height: auto;
  }

  .u-section-1 .u-image-1 {
    height: 338px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-image-1 {
    height: 259px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 194px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    height: 122px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 188px;
}

.u-section-2 .u-group-1 {
  width: 1077px;
  height: auto;
  min-height: 248px;
  margin: -37px auto 0 24px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 5px 21px;
}

.u-section-2 .u-text-1 {
  width: 495px;
  margin: 61px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.15rem;
  margin: 20px auto 0;
}

.u-section-2 .u-line-1 {
  width: 854px;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    width: 940px;
    margin-left: 0;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-line-1 {
    width: 710px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-line-1 {
    width: 530px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    width: 330px;
  }

  .u-section-2 .u-line-1 {
    width: 330px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1587px;
}

.u-section-3 .u-blog-1 {
  width: 1037px;
  margin: 1px auto 60px 43px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 779px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-group-1 {
  width: 1074px;
  --radius: 10px;
  height: auto;
  min-height: 1614px;
  margin: -20px -19px -704px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  height: 255px;
  width: 400px;
  margin: 19px 39px 0 575px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  margin: -255px 739px 0 18px;
}

.u-section-3 .u-text-2 {
  margin: 14px 459px 0 18px;
}

.u-section-3 .u-text-3 {
  margin: 27px 39px 0 18px;
}

.u-section-3 .u-text-4 {
  margin: 1px 522px 0 18px;
}

.u-section-3 .u-image-2 {
  width: 507px;
  height: 253px;
  margin: -262px 0 0 auto;
}

.u-section-3 .u-text-5 {
  margin: 10px 60px 0 18px;
}

.u-section-3 .u-line-1 {
  width: 811px;
  margin: 33px auto 0 81px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-blog-1 {
    width: 940px;
    margin-top: 147px;
    margin-left: 0;
  }

  .u-section-3 .u-group-1 {
    width: 940px;
    margin-right: 0;
    margin-left: 0;
    height: auto;
  }

  .u-section-3 .u-image-1 {
    margin-right: 0;
    margin-left: 480px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 683px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 403px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 406px;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    width: 440px;
    height: 220px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-line-1 {
    margin-left: 69px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-blog-1 {
    width: 720px;
  }

  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 260px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 463px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 183px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 186px;
  }

  .u-section-3 .u-image-2 {
    width: 330px;
    height: 165px;
  }

  .u-section-3 .u-line-1 {
    width: 660px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-blog-1 {
    width: 540px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 120px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 283px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 3px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 46px;
  }

  .u-section-3 .u-image-2 {
    width: 260px;
    height: 130px;
  }

  .u-section-3 .u-line-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-blog-1 {
    width: 340px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    height: 204px;
    width: 340px;
    margin-left: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: -217px;
    margin-right: 83px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    width: 160px;
    height: 80px;
  }

  .u-section-3 .u-line-1 {
    width: 320px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 400px;
}

.u-section-4 .u-accordion-1 {
  margin-bottom: 60px;
}

.u-section-4 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}